{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 200,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}